            <main>
                <div class="vehicle-detail">
                    <img src="<%= vehicle.inv_image %>"
                        alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>" />
                    <div class="vehicle-info">
                            <h2>
                            <%= vehicle.inv_make %>
                                <%= vehicle.inv_model %>
                        </h2>
                        <p><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
                        </p>
                        <p><strong>Year:</strong> <%= vehicle.inv_year %>
                        </p>
                        <p><strong>Mileage:</strong> <%= vehicle.inv_miles %> miles</p>
                        <p><strong>Description:</strong> <%= vehicle.inv_description %>
                        </p>
                    </div>
                </div>
            </main>

        