            <main>
                <div class="vehicle-detail">
                    <img id="main-image" src="<%= vehicle.inv_image %>"
                        alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>" />
                    <div class="vehicle-info">
                            <h2>
                            <%= vehicle.inv_make %>
                                <%= vehicle.inv_model %>
                        </h2>
                        <p><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
                        </p>
                        <p><strong>Year:</strong> <%= vehicle.inv_year %>
                        </p>
                        <p><strong>Mileage:</strong> <%= vehicle.inv_miles %> miles</p>
                        <p><strong>Description:</strong> <%= vehicle.inv_description %>
                        </p>
                    </div>
                    
                </div>
                <div class="carGallery">
                    <% if (vehicle.gallery && vehicle.gallery.length> 0) { %>
                        <h3 class="gallery-title">More Vehicle Details </h3>
                        <div class="thumb-gallery">
                
                            <% vehicle.gallery.forEach(function(imagem) { %>
                                <div class="main-img-container">
                                <img src="<%= imagem.thumb %>" width="500" height="320" alt="<%= imagem.alt %>" class="thumbimg"
                                    data-full-src="<%= imagem.full %>" onclick="changeThumbnail(this)" />
                
                                <% }); %>
                                </div>
                
                        </div>
                        <% } %>
                </div>
                <script src="/js/inventory.js"></script>
            </main>